[submodule "pykan"]
	path = pykan
	url = https://github.com/KindXiaoming/pykan.git
[submodule "efficient-kan"]
	path = efficient-kan
	url = git@github.com:Blealtan/efficient-kan.git
[submodule "fast-kan"]
	path = fast-kan
	url = git@github.com:ZiyaoLi/fast-kan.git
